<div class="navbar-fixed">
  <nav class="grey darken-3">
    <div class="nav-wrapper container grey darken-3">
      <a [routerLink] = "['']" class="brand-logo"> Salon Toscana</a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink] = "['somos']">Quienes Somos</a></li>
        <li><a [routerLink] = "['fotos']">Fotos</a></li>
        <li><a [routerLink] = "['ubicacion']">Ubicacion</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><img src="http://www.uidownload.com/files/299/1001/149/dance-floor-lights-party-play-stage-theatre-icon.png" height="45px"></li>
        <li style="font-weight: bold; color: black; font-size: 20px">Menu</li>
        <li><a href="/somos">Quienes Somos</a></li>
        <li><a href="/fotos">Fotos</a></li>
        <li><a href="/ubicacion">Ubicacion</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
