<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14944.65509105379!2d-97.450748!3d20.540479!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeae941c7ab81e65!2sSalon+Toscana!5e0!3m2!1sen!2smx!4v1484337895602" width="100%" height="50%" frameborder="0" style="border:0" allowfullscreen></iframe>

<div class="container">
  <div class="row center">
    <h3>Ubicacion</h3>
    <p>Calle 8 301</p>
    <p>Colonia Cazones </p>
    <p>Poza Rica, Veracruz, México</p>
  </div>
</div>
<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Salon Toscana</h5>
        <p class="grey-text text-lighten-4">El salon de Eventos Familiares en Poza Rica.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Quienes somos</a></li>
          <li><a class="grey-text text-lighten-3" href="fotos.html">Fotos</a></li>
          <li><a class="grey-text text-lighten-3" href="ubicacion.html">Ubicacion</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Llamanos</a></li>
          <br><br><br><br>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Rich Lira
      <a class="grey-text text-lighten-4 right" href="#!">Facebook  &nbsp; |  &nbsp; Twitter</a>
    </div>
  </div>
</footer>
