<div class="slider">
  <ul class="slides">
    <li>
      <img src="assets/imgs/test.jpg">
      <div class="caption center-align">
        <h1>Bienvenido al Salon de Fiestas Toscana</h1>
        <h4 class="grey-text text-lighten-2">El Salon para las Familias de Poza Rica</h4>
      </div>
    </li>
    <li>
      <img src="assets/imgs/test2.jpg">
      <div class="caption left-align">
        <h1>Salon mas Economico de Poza Rica</h1>
          <h4 class="light grey-text text-lighten-3">Encontraras paquetes muy economicos y valiosos con nosotros.</h4>
      </div>
    </li>
    <li>
      <img src="assets/imgs/test3.jpg">
      <div class="caption right-align">
        <h1>Salon mas Elegante y Limpio de Poza Rica</h1>
          <h4 class="light grey-text text-lighten-3">Disfruta comodamente con tus seres queridos la fiesta de tus sueños.</h4>
      </div>
    </li>
    <li>
      <img src="assets/imgs/test4.jpg">
      <div class="caption center-align">
        <h1>Que esperas, Contrata ahora!</h1>
          <h4 class="light grey-text text-lighten-3">Escoge la fecha y la hora de tu evento aqui abajo!</h4>

      </div>
    </li>
  </ul>
</div>

<br>

<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">

        <div class="input-field col s12 m4 l4 center-align">
          <i class="material-icons prefix">today</i>
          <label for="fecha">Escoge la Fecha</label>
          <input id="fecha" type="text" class="datepicker">
        </div>


        <div class="input-field col s12 m4 l4 center-align">
          <i class="material-icons prefix">query_builder</i>
          <label for="timepicker">Escoge la Hora</label>
          <input id="timepicker" data-default="14:20:00" class="timepicker" type="time">
        </div>



        <div class="col s12 m4 l4 center-align">
          <a class="red waves-effect waves-light btn-large">Contrata tu Evento Ahora</a>
        </div>


      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="assets/imgs/card1.jpg">
          <span class="card-title">Sillas de Lujo</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="assets/imgs/card3.jpg">
          <span class="card-title">Decoraciones hermosas</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="assets/imgs/card2.jpg">
          <span class="card-title">No te preocupes por nada</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="assets/imgs/card1.jpg">
          <span class="card-title">Ambiente familiar</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="assets/imgs/card3.jpg">
          <span class="card-title">Ambiente para fiestas</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="assets/imgs/card2.jpg">
          <span class="card-title">De pozarricences para pozarricenses</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
        </div>

      </div>
    </div>
  </div>
</div>

<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Salon Toscana</h5>
        <p class="grey-text text-lighten-4">El salon de Eventos Familiares en Poza Rica.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Quienes somos</a></li>
          <li><a class="grey-text text-lighten-3" href="fotos.html">Fotos</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Ubicacion</a></li>
          <li><a class="grey-text text-lighten-3" href="ubicacion.html">Llamanos</a></li>
          <br><br><br><br>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Rich Lira
      <a class="grey-text text-lighten-4 right" href="#!">Facebook  &nbsp; |  &nbsp; Twitter</a>
    </div>
  </div>
</footer>
